<footer class="fixed-bottom borde_footer">
    <div class="container-fluid bg-dark pb-1">
        <div class="row text-center">
            <div class="col-md text-white texto_foot">
                <p>Drumat - DrumShop // Avenida SiempreViva 1234<br>Bs. As. - Argentina</p>
            </div>
            <div class="d-flex col justify-content-center align-items-center">
                <a href="https://facebook.com/matias.estanqueiro" target="_blank"><img src="./img/icon_fb.png" alt="facebook"></a>
            </div>
            <div class="d-flex col justify-content-center align-items-center">
                <a href="https://instagram.com/drumat.ae17" target="_blank"><img src="./img/icon_ig.png" alt="instagram"></a>
            </div>
            <div class="d-flex col justify-content-center align-items-center">
                <a href="#offcanvasRight" data-bs-toggle="offcanvas" role="button" aria-controls="sidebar"><img src="./img/icon_gm.png" alt="gmail"></a>
            </div>
        </div>
    </div>
</footer>
