<nav class="navbar navbar-expand-md navbar-dark">
    <div class="container-fluid bg-dark">
        <!-- Logo de NavBar -->
        <a class="navbar-brand" href="/">
            <img src="./img/icon_logo.png" alt="drumat logo">
        </a>
        
        <!-- Boton hamburguesa para navegacion en dispositivos moviles -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

            <!-- Icono del boton hamburguesa -->
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">

            <!--Navegacion del sitio-->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/shop">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><span class="tachado">Blog</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/news">Novedades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/who">Quienes Somos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>