<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head.ejs')%>
    <title>Drumat - Quienes Somos</title>
</head>

<body class="paginas">
   
    <nav>
        <%-include('../partials/nav.ejs')%>
    </nav>

    <main>
        <h1 class="text-center text-white texto_justificado">Nacimos con la percusion, crecimos con vos</h1>
        <div class="container-fluid text-white">
            <div class="row">
                <div class="col-lg-6 texto_justificado">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae doloremque quidem officia odit, vero ducimus aliquam quaerat non deserunt, fugit nam soluta sed totam a adipisci odio? Aliquid quae assumenda dolore quasi debitis praesentium voluptatum impedit expedita quam eius accusantium, id beatae aliquam officia enim a magni. Laboriosam adipisci odit eaque ipsum. Vero illum in dolorem similique sed architecto exercitationem rem cupiditate aut. Culpa earum debitis quidem totam nulla aperiam repellendus iure, illum ea corrupti, dolorem sequi, blanditiis quaerat saepe odit vero esse quia sit exercitationem deleniti obcaecati distinctio corporis ab ut. Voluptates repellat atque distinctio perferendis molestias esse saepe dolorem possimus architecto. Quas optio veniam quis minus soluta porro ex odio nesciunt perferendis fugit eos nemo a, libero voluptates, sapiente delectus cum sint asperiores magni, animi quos. Id doloribus culpa eligendi aut quos, voluptatem perferendis sequi maxime quibusdam quod quas quam commodi nam sit totam obcaecati voluptate, officia accusamus nostrum! Dolores voluptates, corporis repellat assumenda temporibus nostrum! Nostrum, et corrupti aperiam optio fugit nisi odio labore illo ab cupiditate sed similique impedit, enim deleniti dolores eius itaque temporibus aut eligendi error praesentium sequi soluta modi. Exercitationem tenetur modi, facere quibusdam beatae quaerat id et quae iusto ea sunt sapiente. Assumenda tenetur commodi perspiciatis rem odio inventore temporibus possimus odit numquam consequatur, facere nesciunt sunt, doloremque explicabo aspernatur ex ipsa in itaque natus? Ipsa nulla quia eius laborum at. Perspiciatis laudantium amet hic magni facilis debitis saepe fugit corrupti delectus quo eveniet recusandae sint voluptates voluptas optio rem, porro enim. Nihil, nisi. Totam dolorem ea quia doloremque sapiente veniam molestiae voluptatem, atque tempore dolor quae cupiditate accusamus odio illum corporis! Quam blanditiis, sapiente odio recusandae ex esse itaque omnis nulla necessitatibus animi quibusdam minus, assumenda distinctio ullam repudiandae corrupti provident quasi neque doloremque vero quod nihil. Tempore reiciendis est quibusdam.</p>
                </div>
                <div class="d-flex col-lg-6 justify-content-center align-items-center">
                    <img class="imagen_who" src="./img/who_img.png" alt="baterista">
                </div>
            </div>
            <div class="row">
                <div class="d-flex col-lg-6 justify-content-center align-items-center">
                    <img class="imagen_who_2" src="./img/who_img2.png" alt="redoblante bateria">
                </div>
                <div class="col-lg-6 texto_justificado pt-3">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis quaerat nihil laboriosam accusamus, molestiae dicta nobis quam odio quidem optio, veritatis est, laborum at et illo excepturi. Explicabo praesentium ipsa quis nisi, asperiores illum, magni consectetur quia ullam maxime hic dolore commodi officia aspernatur assumenda officiis itaque sed ea sunt odio eos. Alias sapiente modi reprehenderit aut, dignissimos reiciendis eveniet quisquam libero at fuga harum dolorum quos excepturi sint illum deleniti delectus nisi quia odio facilis nam saepe distinctio possimus nesciunt! Dignissimos dolorem magnam repudiandae, tenetur fugiat distinctio accusantium possimus ab enim qui placeat! Porro consequuntur iure, laborum corporis doloremque dolorem magnam minima voluptatibus. Aspernatur, quia asperiores dolorem natus corporis voluptas ducimus reiciendis vel minima, ullam quae architecto provident, veritatis nihil iusto id. Itaque, quos. Eius nemo animi recusandae suscipit, eum ex quam ducimus consectetur asperiores facere excepturi cumque rem voluptates inventore natus dolor, neque maiores quaerat omnis unde nostrum. Alias earum ratione explicabo rem repudiandae iste excepturi nihil. Sint modi a error! Delectus iste perspiciatis sequi itaque. Blanditiis vitae qui, voluptatem illo vel id ex corporis aperiam dolores voluptate eligendi sunt repudiandae maiores perspiciatis quam assumenda minima. Quod possimus amet culpa unde esse mollitia ipsum ab dolorum, reiciendis illo distinctio corrupti, quasi soluta voluptates quae nemo molestiae aliquam. Nisi quasi facere dolorem voluptas commodi, iste excepturi accusantium sit placeat soluta voluptate reiciendis, modi dolores atque? Mollitia odit rerum earum minus id nostrum inventore modi libero. Impedit voluptatibus at illum optio distinctio recusandae, doloremque suscipit facilis vel. Quo, dolor. Doloribus impedit dolore velit molestiae, aliquam optio nobis saepe perferendis officiis laudantium in quae dicta adipisci est suscipit illum ipsa sapiente consequatur earum praesentium expedita. Ullam quis illum nobis culpa ab, esse adipisci fuga a blanditiis quos tempora. A pariatur cum, magnam accusamus similique unde! Quasi optio sapiente placeat assumenda consectetur.</p>
                </div>
            </div>
        </div>
    </main>

    <!-- Canvas que aparece al hacer click en el boton de mail que se encuentra en el footer -->
    <section>
        <%-include('../partials/canvas_mail.ejs')%>
    </section>
    
    <footer>
        <%-include('../partials/footer.ejs')%>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>